.movie-item{
  width: 319px;
  border: 1px solid #fff;
  color: #fff;
}

.cover-img{
  width: 100%;
  height: 464px;
  background-color: red;
}
.item-title{
  font-size: 18px;
  font-weight: 500;
}
.date{
  opacity: 0.5;
  border: 1px solid #979797;
  border-radius: 4px;
}
.genre{
  font-size: 14px;
  font-weight: 500;
}