.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(35, 35, 35, 0.918051);
	opacity: 0.89;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title{
	color: #fff;
	font-size: 40px;
}